In [2]:
import pyspark
import pandas as pd
import numpy as np
import math
import time

from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

In [3]:
bhvr = pd.read_csv('QVI_purchase_behaviour.csv')
trsn = pd.read_excel("QVI_transaction_data.xlsx")

In [4]:
trsn.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [5]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]])
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

-----------------------------------------------------------------------------------------------------------------------

#### 1. Show [3, 8, 13, 18, 23] (third value in each list)

array([ 3,  8, 13, 18, 23])

#### 2. Show [14, 15], [19, 20]

array([[14, 15],
       [19, 20]])

#### 3. Show the transactions where the total sales is greater than 50

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0

#### 4. Show the top 10 transactions in total sales made

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,43331,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,43605,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0
69496,43327,49,49303,45789,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
55558,43599,190,190113,190914,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
171815,43329,24,24095,20797,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
184969,43605,44,44350,40394,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
150683,43605,118,118021,120799,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
117850,43604,194,194308,194516,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
5179,43327,94,94148,93390,14,Smiths Crnkle Chip Orgnl Big Bag 380g,5,29.5
17110,43328,172,172239,174254,7,Smiths Crinkle Original 330g,5,28.5

#### 5.  Using iloc and loc, show the product names of 7 rows of transactions starting from row 30

     DATE  STORE_NBR                                 PROD_NAME  TOT_SALES
29  43605         43    Infzns Crn Crnchers Tangy Gcamole 110g        3.8
30  43601         43          Pringles Sthrn FriedChicken 134g        3.7
31  43600         43              Pringles Sweet&Spcy BBQ 134g       14.8
32  43605         45  Red Rock Deli SR    Salsa & Mzzrlla 150g        5.4
33  43603         45    Thins Chips         Originl saltd 175g        3.3
34  43328         51   Red Rock Deli Sp    Salt & Truffle 150G        2.7
35  43331         51  Smiths Thinly       Swt Chli&S/Cream175G        3.0

     DATE  STORE_NBR                                 PROD_NAME  TOT_SALES
29  43605         43    Infzns Crn Crnchers Tangy Gcamole 110g        3.8
30  43601         43          Pringles Sthrn FriedChicken 134g        3.7
31  43600         43              Pringles Sweet&Spcy BBQ 134g       14.8
32  43605         45  Red Rock Deli SR    Salsa & Mzzrlla 150g        5.4
33  43603         45    Thins Chips         Originl saltd 175g        3.3
34  43328         51   Red Rock Deli Sp    Salt & Truffle 150G        2.7
35  43331         51  Smiths Thinly       Swt Chli&S/Cream175G        3.0
36  43330         51                        Kettle Chilli 175g        5.4

#### 6. Using iloc and loc, show the 7 rows mentioned in question 5, but only the date, store number, product name and total sales

29      Infzns Crn Crnchers Tangy Gcamole 110g
30            Pringles Sthrn FriedChicken 134g
31                Pringles Sweet&Spcy BBQ 134g
32    Red Rock Deli SR    Salsa & Mzzrlla 150g
33      Thins Chips         Originl saltd 175g
34     Red Rock Deli Sp    Salt & Truffle 150G
35    Smiths Thinly       Swt Chli&S/Cream175G
Name: PROD_NAME, dtype: object

29      Infzns Crn Crnchers Tangy Gcamole 110g
30            Pringles Sthrn FriedChicken 134g
31                Pringles Sweet&Spcy BBQ 134g
32    Red Rock Deli SR    Salsa & Mzzrlla 150g
33      Thins Chips         Originl saltd 175g
34     Red Rock Deli Sp    Salt & Truffle 150G
35    Smiths Thinly       Swt Chli&S/Cream175G
36                          Kettle Chilli 175g
Name: PROD_NAME, dtype: object

#### 7. Rename the columns to lower cases

,date,store_nbr,lylty_card_nbr,txn_id,prod_nbr,prod_name,prod_qty,tot_sales
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8

#### 8. Show the total products sold for the item 'Cheezels Cheese 330g'

prod_name
Cheezels Cheese 330g    6017
Name: prod_qty, dtype: int64

#### 9. Create a new column for the price of item 'PRICE'. (price = total sales / product quantity)

,date,store_nbr,lylty_card_nbr,txn_id,prod_nbr,prod_name,prod_qty,tot_sales,price
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,3.00
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,2.10
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,1.45
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,3.00
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,4.60
...,...,...,...,...,...,...,...,...,...
264831,43533,272,272319,270088,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,5.40
264832,43325,272,272358,270154,74,Tostitos Splash Of Lime 175g,1,4.4,4.40
264833,43410,272,272379,270187,51,Doritos Mexicana 170g,2,8.8,4.40
264834,43461,272,272379,270188,42,Doritos Corn Chip Mexican Jalapeno 150g,2,7.8,3.90
264835,43365,272,272380,270189,74,Tostitos Splash Of Lime 175g,2,8.8,4.40

#### 10. Give a list of the names of products sold more than 2 in store 88

array(['Kettle Chilli 175g', 'Tostitos Smoked     Chipotle 175g',
       'Pringles Slt Vingar 134g', 'Doritos Cheese      Supreme 330g',
       'Infuzions BBQ Rib   Prawn Crackers 110g',
       'Thins Chips Salt &  Vinegar 175g'], dtype=object)

# Playing with null values

In [19]:
null = trsn
null.iloc[1:3, 5] = np.nan
null.iloc[[73, 33, 45], 7] = np.nan
null.iloc[80, :] = np.nan

In [20]:
null

,date,store_nbr,lylty_card_nbr,txn_id,prod_nbr,prod_name,prod_qty,tot_sales,price
0,43390.0,1.0,1000.0,1.0,5.0,Natural Chip Compny SeaSalt175g,2.0,6.0,3.00
1,43599.0,1.0,1307.0,348.0,66.0,NaN,3.0,6.3,2.10
2,43605.0,1.0,1343.0,383.0,61.0,NaN,2.0,2.9,1.45
3,43329.0,2.0,2373.0,974.0,69.0,Smiths Chip Thinly S/Cream&Onion 175g,5.0,15.0,3.00
4,43330.0,2.0,2426.0,1038.0,108.0,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3.0,13.8,4.60
...,...,...,...,...,...,...,...,...,...
264831,43533.0,272.0,272319.0,270088.0,89.0,Kettle Sweet Chilli And Sour Cream 175g,2.0,10.8,5.40
264832,43325.0,272.0,272358.0,270154.0,74.0,Tostitos Splash Of Lime 175g,1.0,4.4,4.40
264833,43410.0,272.0,272379.0,270187.0,51.0,Doritos Mexicana 170g,2.0,8.8,4.40
264834,43461.0,272.0,272379.0,270188.0,42.0,Doritos Corn Chip Mexican Jalapeno 150g,2.0,7.8,3.90
264835,43365.0,272.0,272380.0,270189.0,74.0,Tostitos Splash Of Lime 175g,2.0,8.8,4.40

#### Find if there is any null values in the df

True

#### Find number of null values in each column

date              1
store_nbr         1
lylty_card_nbr    1
txn_id            1
prod_nbr          1
prod_name         3
prod_qty          1
tot_sales         4
price             1
dtype: int64

#### Show all row numbers of null values for each column (use a for loop)

[80]
[80]
[80]
[80]
[80]
[1, 2, 80]
[80]
[33, 45, 73, 80]
[80]

#### Drop rows where there are more than  4 null values

#### Reset index

,date,store_nbr,lylty_card_nbr,txn_id,prod_nbr,prod_name,prod_qty,tot_sales,price
0,43390.0,1.0,1000.0,1.0,5.0,Natural Chip Compny SeaSalt175g,2.0,6.0,3.00
1,43599.0,1.0,1307.0,348.0,66.0,NaN,3.0,6.3,2.10
2,43605.0,1.0,1343.0,383.0,61.0,NaN,2.0,2.9,1.45
3,43329.0,2.0,2373.0,974.0,69.0,Smiths Chip Thinly S/Cream&Onion 175g,5.0,15.0,3.00
4,43330.0,2.0,2426.0,1038.0,108.0,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3.0,13.8,4.60
...,...,...,...,...,...,...,...,...,...
264830,43533.0,272.0,272319.0,270088.0,89.0,Kettle Sweet Chilli And Sour Cream 175g,2.0,10.8,5.40
264831,43325.0,272.0,272358.0,270154.0,74.0,Tostitos Splash Of Lime 175g,1.0,4.4,4.40
264832,43410.0,272.0,272379.0,270187.0,51.0,Doritos Mexicana 170g,2.0,8.8,4.40
264833,43461.0,272.0,272379.0,270188.0,42.0,Doritos Corn Chip Mexican Jalapeno 150g,2.0,7.8,3.90
264834,43365.0,272.0,272380.0,270189.0,74.0,Tostitos Splash Of Lime 175g,2.0,8.8,4.40